<?xml version="1.0"?>
<sdf version="1.7" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="basic_hollow_sphere" params="pos rot mass radius color">
        <pose>${pos} ${rot}</pose>
        <inertial>
            <mass>${mass}</mass>
            <inertia>
                <ixx>${2 * mass * (radius * radius)/3}</ixx>
                <iyy>${2 * mass * (radius * radius)/3}</iyy>
                <izz>${2 * mass * (radius * radius)/3}</izz>
                <ixy>0</ixy> 
                <ixz>0</ixz> 
                <iyz>0</iyz>
            </inertia>
        </inertial>

        <visual name="visual">
            <geometry>
                <sphere>
                    <radius>${radius}</radius>
                </sphere>
            </geometry>
            
            <material>
                <ambient>${color}</ambient>
                <diffuse>${color}</diffuse>
                <specular>${color}</specular>
                <emissive>${color}</emissive>
            </material>
        </visual>

        <collision name="collision">
            <geometry>
                <sphere>
                    <radius>${radius}</radius>
                </sphere>
            </geometry>
        </collision>
    </xacro:macro>




    <xacro:macro name="basic_solid_sphere" params="pos rot mass radius color">
        <pose>${pos} ${rot}</pose>
        <inertial>
            <mass>${mass}</mass>
            <inertia>
                <ixx>${2 * mass * (radius * radius)/5}</ixx>
                <iyy>${2 * mass * (radius * radius)/5}</iyy>
                <izz>${2 * mass * (radius * radius)/5}</izz>
                <ixy>0</ixy> 
                <ixz>0</ixz> 
                <iyz>0</iyz>
            </inertia>
        </inertial>

        <visual name="visual">
            <geometry>
                <sphere>
                    <radius>${radius}</radius>
                </sphere>
            </geometry>
            
            <material>
                <ambient>${color}</ambient>
                <diffuse>${color}</diffuse>
                <specular>${color}</specular>
                <emissive>${color}</emissive>
            </material>
        </visual>

        <collision name="collision">
            <geometry>
                <sphere>
                    <radius>${radius}</radius>
                </sphere>
            </geometry>
        </collision>
    </xacro:macro>
</sdf>