<?xml version="1.0" ?>
<sdf version="1.7" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="pendulum.xacro" />
    <world name='default'>
        <include>
            <uri>model://ground_plane</uri>
        </include>
        <xacro:simple_pendulum x="0" y="0" z="2" theta_0="1.2" arm_length="1.0"/>
    </world>
</sdf>